.wholeTweet > .post {
    border : none ; 
}

.wholeTweet {
    padding : 1rem ;
}

.wholeTweet > .postTweet {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
    margin-top: 3rem;
}

.wholeTweet>.postTweet > button {
    font-size: 1.3rem ;
    padding : 5px ;
    border-radius: 10px;
    color : rgb(100, 145, 48) ; 
    background-color: white;
    border: 1px outset white;
}

.postContent > textarea {
    background-color: #1e1c1c ;
    color : white  ;
    font-size: 1.2rem ;
    /* min-height: 200px ; */
    width : 100% ;
    /* background-color: red; */
    border : none ;
    outline: none;
}

.wholeTweet > .post > .postContent {
    width : 100% ; 
}

.wholeTweet>.post>.postContent > .postName{
    font-size: 1.2rem ;
}

.wholeTweet>.post {
    align-items: flex-start;
}

.success3 {
    position: fixed;
        right: calc((100% - 223px) / 2);
        z-index: 20;
        top: 0;
}