.readInfoHead {
  display: flex;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.wholePagePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(41, 41, 41, 1);
  font-family: "Shizuru", cursive;
  /* word-spacing: 5; */
}

.pagePosition {
  max-width: 783px;
}

.profilePic img {
  border-radius: 50%;
  object-fit: cover;
  width: 50px;
  height: 50px;
}

.profilePic {
  margin-right: 1rem;
}
.readInfo {
  display: flex;
  flex-direction: column;
}

.readInfo > .line1,
.readInfo > .line2 {
  display: flex;
  gap: 0.5rem;
}

.readInfo > .line1 {
  align-items: center;
}

.readInfo > .line1 {
  color: rgb(100, 145, 48);
}

.readInfo > .line2 > p {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: gray;
}

.line1 > button {
  background-color: rgba(100, 145, 48, 0.5);
  color: white;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 12px;
}

.line1 > button:hover {
  background-color: rgba(100, 145, 48, 0.8);
}

.pageTitle > h2 {
  color: rgb(100, 145, 48);
  font-size: 2.1rem;
}

.pagePic {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.pagePic > img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  max-width: 600px;
  border: 1px solid rgba(100, 145, 48, 0.8);
}

.blog {
  margin-top: 2rem;
  color: rgb(255, 255, 255);
}

.blog > h3 {
  font-size: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.readInfo > .comment {
  margin-top: 0.5rem;
}

.readInfo > button {
  margin-top: 0.5rem;
  display: inline;
  width: 5rem;
  padding: 0.3rem;
}

.commentSection {
  margin-top: 4rem;
}

.commentSection > .commentCount {
  color: rgba(100, 145, 48, 0.8);
  font-size: 1.5rem;
  border-bottom: 1px solid;
  width: 9rem;
}

.commentBox > .readInfoHead {
  margin-top: 2rem;
}
