.logoContainer > a {
  font-size: Cabin, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 2rem;
  line-height: 54.4px;
  font-weight: 300;
  cursor: pointer;
  min-width: 8rem;
  min-height: 4rem;
}

.logoContainer > a:hover {
  color: rgb(100, 145, 48);
}
